<div id="edit_proj">	
	<div id="header"><h1>Editing TODO List</h1></div><br/>

	<%= form_for(@project, remote: true) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="id_user">
    <%= f.label :id_user %>
    <%= f.number_field :id_user %>
  </div><br/>
  <div class="actions">
    <center><%= f.submit %></center>
  </div>
<% end %>


	<div id="back">
		<%= link_to 'Back', projects_path, remote: true %>
	</div>
</div>
